Source: kodi-vfs-libarchive
Priority: extra
Maintainer: Arne Morten Kvarving <spiff@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, libarchive-dev, kodi-addon-dev,
               libssl-dev, liblzo2-dev, liblz4-dev, liblzma-dev, libbz2-dev, zlib1g-dev
Standards-Version: 4.1.2
Section: libs

Package: kodi-vfs-libarchive
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libarchive VFS for Kodi
 libarchive VFS for Kodi

Package: kodi-vfs-libarchive-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for libarchive VFS for Kodi
 debug symbols for libarchive VFS for Kodi

